---
import { Image } from 'astro:assets';
import { title as SITE_TITLE, description as SITE_DESC, url as SITE_URL, logo as SITE_LOGO } from '../../config/site.json';

import '../header/Header.scss';

interface Props {
  title: string;
  description: string;
  url: string;
  image?: string;
}

const { title = SITE_TITLE, url = SITE_URL, image = SITE_LOGO } = Astro.props;
---
<header class="container">
  
  <a
    href={url}
    target="_self"
    rel="noopener noreferrer"
    aria-label={`${title}`}
    title={`Go back to ${title} homnepage`}
  >
    <Image       
      src={image}
      alt={`${title} logo`}
      width="160"
      height="48"
      decoding="async"
      loading={'eager'}
      fetchpriority="high"/>
  </a>
</header>